.grid-wrapper {
    overflow: auto;
    max-height: 450px;

    table {
        border-collapse: separate;
        border-spacing: 0px;
        thead {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: lightblue;
            th {
                user-select: none;
                vertical-align: top;
                position: relative;
                border: 0.5px solid #ccc;
                .sort-icons {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
                .resizer {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 5px;
                    cursor: col-resize;
                    user-select: none;
                    touch-action: none;
                }
            }
        }

        .truncate-text {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}
