.tanstack-grid-paging.pagination {
    float: right;
    font-size: 0.9em;
    .text {
        .page-link {
            color: #000;
            cursor: default;
            &:focus {
            box-shadow: none;
        }
        }
    }

    li:last-of-type .page-link {
        padding-right: 0em;
    }

    .page-link {
        padding: 0.5em;
        border: 0px none;
        &:hover {
            background-color: transparent;
        }
        
    }
}
